/* - - - - 1050 - - - - */




@media screen and (max-width: 1050px) {

/*
	.wrap	 			{
						   	width: 				100%;
						   	margin: 			0;
						   	padding: 			20px;
						}


	.col 				{
							width: 				50%;
						}
*/

}




















/* - - - - 1070 - - - - */




@media screen and (max-width: 730px) {

/*
	.col 				{
							width: 				100%;
						}
*/

}




















/* - - - - 990 - - - - */




@media screen and (max-width: 990px) {




	/* INDEX */


	d




}